.transitionTime{transition-duration:1.2s}
*{box-sizing:border-box}
html{height:100%;background-color:#000}
body{font-family:"Chakra Petch",sans-serif;text-align:center;height:100%;margin:auto;background-image:url("../img/background.jpg");background-size:cover;background-position:center;background-repeat:no-repeat;overflow:hidden}
.box{position:absolute;color:#FFF;background-color:rgba(0,0,0,0.3)}
.box-table{height:100%;width:100%;display:flex;align-items:center;justify-content:center}
.content{z-index:99;position:absolute;height:100%;width:100%;transform:scale(0.01,0.01);-webkit-transform:scale(0.01,0.01);-moz-transform:scale(0.01,0.01);-ms-transform:scale(0.01,0.01);-o-transform:scale(0.01,0.01);transform-origin:50% 50%;opacity:0}
.page-name{font-size:23px;font-weight:bold;letter-spacing:.2rem;padding:7px}
.hover-text{display:table-cell;vertical-align:middle;text-align:center;width:100%;z-index:98}
#uno{bottom:20%;left:0;right:20%;top:0;border-bottom:2px solid rgba(255,255,255,0.3);border-right:2px solid rgba(255,255,255,0.3)}
#uno .content{z-index:100;transform:matrix(1,0,0,1,0,0);-webkit-transform:matrix(1,0,0,1,0,0);-moz-transform:matrix(1,0,0,1,0,0);-ms-transform:matrix(1,0,0,1,0,0);-o-transform:matrix(1,0,0,1,0,0);opacity:1;display:flex;justify-content:center;align-items:center;padding:12%}
#dos{bottom:20%;left:80%;right:0;top:0;border-bottom:2px solid rgba(255,255,255,0.3)}
#tres{bottom:0;left:80%;right:0;top:80%}
#tres .content{padding:12% 5%;display:flex;justify-content:center;align-items:center}
#cuatro{bottom:0;left:0;right:20%;top:80%;border-right:2px solid rgba(255,255,255,0.3)}

#music{display:flex;justify-content:center;align-items:center;flex-direction:row;height:100%;width:100%}
#music a{border:0;min-width:400px;min-height:400px;width:400px;height:400px;margin-right:20px;background-color:white;padding:2%;display:flex;justify-content:center;align-items:center}
#music img{max-width:100%;max-height:100%;transition:.5s;}
#music img{transition:.5s;filter:grayscale(50%);-webkit-filter:grayscale(50%);}
#music img:hover{filter:grayscale(0);-webkit-filter:grayscale(0)}
/*#music a{transition:.5s;filter:grayscale(50%);-webkit-filter:grayscale(50%);}*/
/*#music a:hover{filter:grayscale(0);-webkit-filter:grayscale(0)}*/
#music iframe{border:0;min-width:400px;min-height:400px}

#video{height:100%;width:100%;display:flex;align-items:center;justify-content:center}
#video iframe{border:10px solid #FFF;position:absolute;width:800px;height:450px}

#merch{display:flex;justify-content:center;align-items:center;flex-direction:row;height:100%;width:100%}
#merch .merch-photos a{border:0;min-width:400px;min-height:400px;width:400px;height:400px;margin-right:20px;background-color:white;padding:2%;display:flex;justify-content:center;align-items:center}
#merch .merch-photos img{max-width:100%;max-height:100%;transition:.5s;}
#merch .merch-photos img{transition:.5s;filter:grayscale(50%);-webkit-filter:grayscale(50%)}
#merch .merch-photos img:hover{filter:grayscale(0);-webkit-filter:grayscale(0)}
/*#merch .merch-photos a{transition:.5s;filter:grayscale(50%);-webkit-filter:grayscale(50%)}*/
/*#merch .merch-photos a:hover{filter:grayscale(0);-webkit-filter:grayscale(0)}*/
#merch .merch-info{display:flex;flex-direction:column;min-width:400px;min-height:400px;max-width:300px;max-width:300px;text-align:left;padding:1%}
#merch h1{font-size:25px;margin:0 0 10px 0}
#merch h2{font-size:20px;margin:0 0 20px 0}
#merch p{margin:5px 0;text-align:left;font-size:15px;line-height:30px}
#merch .merch-info a{margin:30px 0 0 0;font-weight:bold;font-size:15px;width:fit-content;background-color:rgba(255,255,255,0.3);text-decoration:none;color:#FFF;transition:2s;letter-spacing:2px;padding:2% 3%}
#merch .merch-info a:hover{background-color:#FFF;color:black}

#contact{height:100%;width:100%;display:flex;justify-content:center;align-items:center;flex-flow:column}
#contact p{min-width:800px;max-width:800px;width:800px;font-size:18px;line-height:45px;color:#FFF;letter-spacing:.1rem;text-align:center;margin-bottom:10%;font-weight:bold}
#contact p a{font-weight:bold;width:fit-content;background-color:rgba(255,255,255,0.3);text-decoration:none;color:#FFF;transition:2s;letter-spacing:2px;padding:5px;transition:.5s}
#contact p a:hover,p a:focus{background-color:#FFF;color:black}
#contact .social{text-align:center;min-width:800px;max-width:800px}
#contact .social a{padding:2%;color:#FFF;font-size:20px;text-shadow:none}
#contact .social i{border-radius:50%;background-color:rgba(255,255,255,0.3);width:40px;height:40px;line-height:40px;vertical-align:middle;text-align:center}
#contact .social a:last-child{padding:0 0 0 2%}
#contact .social a:hover i{background-color:white;transition:.5s}
#contact .soundcloud:hover{color:#f30}
#contact .bandcamp:hover{color:#629aa9}
#contact .tumblr:hover{color:#35465c}
#contact .facebook:hover{color:#3b5998}
#contact .mail:hover{color:#1bdfff}
#contact .youtube:hover{color:red}
#contact .spotify:hover{color:#1db954}
#contact .whatsapp:hover{color:#128c7e}
#contact .instagram:hover{color:#833ab4}
#contact .twitter:hover{color:#1da1f2}
#contact .messenger:hover{color:#0084ff}
#contact .apple:hover{color:grey}
p{font-size:23px;line-height:60px;color:#FFF;letter-spacing:.1rem;margin:0;padding:0;margin-bottom:1%;text-align:justify;text-justify:inter-word}
p a{color:#FFF;transition:.5s;text-decoration:none}
p a:hover,p a:focus{color:#1da1f2}
@media screen and (max-width:624px) and (orientation:portrait){
	.hover-text{z-index:99}
	.content{z-index:98}
	.page-name{font-size:1rem;letter-spacing:.2rem;display: block;}
	.box{display:block;width:100%;height:12%;overflow:hidden;position:relative}
	#uno{height:64%;bottom:0;left:0;right:0;top:0;border-bottom:1px solid rgba(255,255,255,0.3);border-right:0}
	#uno .box-table{height:100%;width:100%;display:flex}
	#uno .content{height:100%;width:100%;z-index:100;transform:matrix(1,0,0,1,0,0);opacity:1}
	#dos{bottom:0;left:0 !important;right:0;top:0;border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3)}
	#dos .content{z-index:100}
	#tres{bottom:0;left:0 !important;right:0;top:0 !important;border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3)}
	#tres .content{z-index:100;padding:0}
	#cuatro{bottom:0;left:0;right:0;top:0 !important;border-top:1px solid rgba(255,255,255,0.3);border-right:0}
	#music{height:100%;width:100%}
	#music a{display:none}
	#music iframe{min-height:280px;min-width:280px;max-width:280px;max-height:280px}
	#video iframe{border:8px solid #FFF;width:280px;height:280px}
	#merch{height:100%;width:100%;padding:2%;flex-direction:column}
	#merch .merch-photos a{margin:0;max-width:210px;max-height:210px;min-width:210px;min-height:210px;background-color:white}
	#merch .merch-photos img{filter:grayscale(0);-webkit-filter:grayscale(0)}
	#merch .merch-photos img:hover{filter:grayscale(0);-webkit-filter:grayscale(0)}
	#merch .merch-info{min-height:fit-content;min-width:fit-content;align-items:center}
	#merch .merch-info h1{font-size:16px;margin:11px 0}
	#merch .merch-info h2{display:none}
	#merch .merch-info p{display:none}
	#merch .merch-info a{margin:0;font-size:13px}
	#contact{padding:5%}
	#contact p{display:none}
	#contact .social{min-width:380px;max-width:100%;height:100%;padding:5%;display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
	#contact .social a{margin:5%;color:#FFF;transition:.5s;font-size:30px}
	#contact .social i{border-radius:50%;background-color:rgba(255,255,255,0.3);width:55px;height:55px;line-height:55px;vertical-align:middle;text-align:center}
	#contact p{display:none}
}
@media screen and (min-width:625px) and (max-width:1024px) and (orientation:portrait){
	.hover-text{z-index:99}
	.content{z-index:98}
	.page-name{font-size:1rem;letter-spacing:.2rem;display: block;}
	.box{display:block;width:100%;height:12%;overflow:hidden;position:relative}
	#uno{height:64%;bottom:0;left:0 !important;right:0;top:0 !important;border:0;border-bottom:1px solid rgba(255,255,255,0.3)}
	#dos{bottom:0;left:0 !important;right:0;top:0 !important;border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3)}
	#tres{bottom:0;left:0 !important;right:0;top:0 !important;border:0;border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3)}
	#cuatro{bottom:0;left:0 !important;right:0;top:0 !important;border:0;border-top:1px solid rgba(255,255,255,0.3);}
	.box{height: 12%}
	.active{height: 64%}
}
@media screen and (min-width:625px) and (max-width:1024px) and (orientation:landscape){
	.hover-text{z-index:99}
	.content{z-index:98}
	.page-name{font-size:1rem;letter-spacing:.2rem;display: block;}
	.box{display:block;height:12%;}
	#uno{height:80%;bottom:0;left:0;right:20%;top:0;}
	#dos{height:80%;bottom:0;left:80%;right:0;top:0}
	#tres{height:20%;bottom:0;left:80%;right:0;top:80%;}
	#cuatro{height:20%;bottom:0;left:0;right:20%;top:80%;}
}
/*@media screen and (min-width:800px) and (orientation:landscape){
	.page-name{display:none}
	#uno{border:0;height:100% !important;width:100% !important}
	#live .content{height:100%;width:100%;z-index:100;transform:matrix(1,0,0,1,0,0);opacity:1}
	#live-wrapper iframe{min-width:200px;min-height:200px;max-width:200px;max-height:200px}
	#live-wrapper a{min-width:200px;min-height:200px;max-width:200px;max-height:200px}
	#dos{display:none}
	#live{display:none}
	#cuatro{display:none}
}*/
