@media screen and (min-width:600px) and (max-width:1024px) and (orientation: portrait)  {

    .hover-text {
      z-index: 99;
    }

    .content {
      z-index: 98;
    }

    .page-name {
      font-size: 1rem;
      letter-spacing: 0.2rem;
    }

    .box {
      display: block;
      width: 100%;
      height: 12%;
      overflow: hidden;
      position: relative;
    }


    #uno {
      height: 64%;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      border: none;
    }


    #dos {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }



    #tres {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      border: none;
    }


    #cuatro {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      border: none;
    }


}
